<!doctype html>
<html>
<head>
<title>CssCreator-->HTML5 Template</title>
<meta charset="utf-8" />
<meta generator="csscreator.com" />

<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Please link back to http://csscreator.com --><link rel="stylesheet" href="1035381.css" type="text/css" />
</head>
<body>
<div id="pagewidth" >
	<div id="header"><h2>Head</h2></div>
	<div id="wrapper" class="clearfix">
			<div id="maincol"><h1>Main Content Column</h1></div>
	</div>
</div>
</body>
</html>
