<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}Blog{% endblock %}</title>
        <link rel="stylesheet" href="{{url_for('static', filename='mycss.css')}}" type="text/css" /> 
        <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
    </head>
    <body id="">
        <div id="pagewidth" >
            <div id="header"><h2>Pastpy</h2></div>
        </div>
        {% block content %}

        {% endblock %}
    </body>
</html>
