{% extends "base.html" %}

{% block content %}
<div id="inp_form">
    <h3 id="">Snippet</h3>
    <form action="{{ url_for('new_post') }}" method="post" accept-charset="utf-8">
        {{ form.csrf_token }}
        <p>
        <div>
            <label for="content"></label>
            <div id="snipname">
                <input id=name name=name type=text placeholder="Name of Snippet" required >
            </div>
            <div id="codetype">
                {{ form.lang|safe }}
            </div>
            <textarea id=code rows=15 name=code placeholder="Code Snippet" required autofocus></textarea> 
            </p>
            <p><input type="submit" value="Save"/></p>
        </div>

    </form>
</div>
{% endblock %}
